<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>My blog</title>
</head>
<a href="{{ url_for('home') }}">Home</a>
<body>
    {% block content %}

    {% endblock %}
</body>

</html>
